.card{
    display: inline-flex;
    width: 18%;
    margin: 2%;
    background-color: #957698;
}

footer{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: white;
}

#contact_form{
    margin-left: 2%;
    margin-top: 2%;
}

header h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    color: white;
}

body{
    background-color: #d9c2db;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button{
    background-color: #957698;
    color: white;
}

main{
    color: white;
}

.card h3{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.card-text{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

#logo{
    width: 5%;
}
